body {
    padding: 20px;
    background-color: rgb(212, 212, 212);
}

::placeholder {
    padding-left: 20px;
    font-style: italic;
    font-size: 1.5em;
    color: rgb(202, 206, 204);
}

P {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
    font-style: italic;
}

.bg-grip {
    background-color: #f27f0c;
}
.bg-green {
    background-color: green;
}

.area {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0px auto;
}

.container {
    position: relative;
    min-height: 50vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(234, 232, 232);
    border-radius: 20px 20px 0 0;
}

.box {
    border: 1px solid lightslategray;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.checkbox {
    font-size: 20px;
    background: unset;
    border: none;
    border-right: 1px solid lightslategray;
    margin-right: 25px;
    padding: 15px;
}

.line {
    
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50px;
    top: 0;
    background-color: lightslategray;
}

.checkbox:hover {
    color: green;
}

.sub-input {
    border-style: none;
    background-color: green;
    border-radius: 0 0px 20px 20px;
    width: 100%;
    display: flex;
    padding: 25px;
    color: white;
    text-align: left;
    outline: none;
    font-size: 1.3rem;
}

.sub-btn {
    background-color: unset;
    border-style: none;
    position: absolute;
    right: 100px;
}

.delete-btn {

    background-color: unset;
    border-style: none;
   font-size: 30px
}

.delete-btn:hover {
    color: #f27f0c;
}

.data {

    display: flex;
    align-items: center;
    padding: 10px;
}




.modal-parent{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(0,0,0,0.2);
    
  }
  .modall{
    display: inline-grid;
    background: white;
    width: 70%;
    padding: 30px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 1rem;
    transform: translate(-50%, -50%);
    font-size: 22px;
    position: relative;
    animation: 0.5s drop;
  }
  @keyframes drop {
    0%{
      top: -100px;
    }
    100%{
      top: 50%;
    }
  }
  .X{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 40px;
    cursor: pointer;
  
  }
  


@media (max-width:416px) {
    ::placeholder {
        padding-left: 15px;
        font-size: 1.2rem;
    }

    .sub-btn {
        right: 20px;
    }

    .checkbox {
        margin-right: 10px;
        padding: 10px;
    }

    .data {
        padding: unset;
    }
}

@media (max-width:316px) {
    ::placeholder {
        padding-left: 5px;
        font-size: 1rem;
    }

    .sub-btn {
        right: 10px;
    }
}